$palat: #7e317b;

.container {
  background-color: #eeeeee;

  .inner-container {
    left: 200px;
    display: flex;
    justify-content: center;
    position: absolute;
    & > * {
      padding: 50px;
    }
  }
}

.contents {
  padding: 50px;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1.2rem;
    color: $palat;
    border-radius: 25px;
    border: 2px $palat solid;
    text-align: center;
    padding: 1px;
    font-weight: normal;
    padding: 5px;
  }
  p {
    font-size: 18px;
  }
}
.media-container {
  .media {
    position: relative;
    border: 3px solid #66eeb3;
    margin: 0 50px 0 50px;

    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      border: 4px solid $palat;
      box-sizing: border-box;
    }
  }
}

.media:nth-child(odd) {
  left: -50px;
  top: 50px;
  .overlay {
    transform: rotate(-3deg) scale(1.01);
  }
}
.media:nth-child(even) {
  top: -50px;
  left: 50px;
  .overlay {
    transform: rotate(3deg) scale(1.01);
  }
}
