$palat: #7e317b;
$animate: all 0.2s ease-in-out;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  left: 0;
}
.nav {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
  .nav-container {
    background-color: #211f20;
    width: 100vw;
    height: 50px;
    display: flex;
    /*align-items: center;*/
    top: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    z-index: 3;
  }
  a img {
    position: absolute;
    left: 5px;
    top: 5px;
    margin: 0 15px 0 0;
    z-index: 5;
    transition: transform 0.5s;
    &:hover {
      transform: scale(0.95);
    }
  }
  ul {
    left: 200px;
    display: flex;
    list-style-type: none;
    padding: 0;
    position: absolute;
    li {
      margin: 0 15px 0 0;
      color: white;
      z-index: 5;
      a {
        color: #eeeeee;
        text-decoration: none;
        &:after {
          content: "";
          display: block;
          width: 0px;
          height: 4px;
          background: $palat;
          transition: 0.2s;
          margin-top: 2px;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
.float-sm {
  .fl-fl {
    text-transform: uppercase;
    width: 190px;
    height: 50px;
    position: fixed;
    left: -140px;
    z-index: 10;
    transition: all 0.25s ease;
    &:hover {
      left: 0;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .fa-2x {
    color: white;
    width: 40px;
    margin-left: 10px;
  }

  .fl-fl:hover {
    left: 0;
  }
}
.float-fb {
  bottom: 63%;
  background: black;
}
.float-tw {
  bottom: 54%;
  background: black;
}
.float-ig {
  bottom: 45%;
  background: black;
}
.float-fbTD {
  bottom: 27%;
  background: $palat;
}
.float-twTD {
  bottom: 18%;
  background: $palat;
}
.float-igTD {
  bottom: 9%;
  background: $palat;
}
.float-glTD {
  bottom: 0%;
  background: $palat;
}
.react-reveal {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1.2rem;
    color: $palat;
    border-radius: 25px;
    border: 2px $palat solid;
    text-align: center;
    padding: 1px;
    font-weight: normal;
    padding: 5px;
  }
  p {
    font-size: 18px;
  }
  padding: 50px;
}
