$palat: #7e317b;
.profile-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.inner-profile-container {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  grid-gap: 40px;
  margin-left: 200px;
}
.front {
  height: 200px;
  width: 200px;
  background-color: #eeeeee;
  border: solid 2px $palat;
  .text-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & > * {
      padding: 5px;
      color: $palat;
      text-align: center;
    }
  }
}

.back {
  height: 200px;
  width: 200px;
  background-color: #eeeeee;
}
